body{
    background-color: #333; color: #fff; 

}

.navbar{
    opacity: .7; border-bottom: solid 4px #008ed6;
}


header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7) , rgba(0,0,0,.7)) , url(../images/home.jpg);
    background-position: center;
    background-size: cover;
}

.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
}

.carousel-indicators li{
    height: 20px; width: 20px; border-radius: 50%;
}